@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.top-header {
  margin-left: 60px;
  margin-top: 90px;
  font-size: 20px;
}
.header-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10em;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.header-element-left h1 {
  font-size: 40px;
  font-weight: bolder;
}
.header-element-left {
  padding-left: 70px;
}
.header-element-right img {
  width: 440px;
  height: 414px;
}
.header-text {
  margin-bottom: 30px;
}
.red-button {
  background-color: #e02c6d;
  color: white;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 41px;
  transition: 0.2s linear;
}
.red-button:hover {
  background-color: white;
  color: #e02c6d;
  border: 2px solid #e02c6d;
  border-radius: 41px;
}

/*-----------------
   product styles
-------------------- */
.product-title {
  margin-top: 250px;
  text-align: center;
  font-size: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 300px;
}
.product {
  width: 280px;
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-top: 27px;
  padding-left: 27px;
  padding-bottom: 3px;
}
.product img {
  width: 250px;
  height: 200px;
}

.rating {
  padding: 20px;
  font-size: 12px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.blank {
  color: #aeaeae;
}

/*----------------
   feature styles
------------------ */
.feature-title {
  margin-top: 250px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 30px;
}
.feature-container {
  margin-top: 60px;
  margin-left: 120px;
  margin-right: 120px;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}

.feature {
  width: 280px;
  height: 476px;
  text-align: center;
}
.red-icon {
  color: #e02c6d;
  font-size: 60px;
}

/* ----------------
    footer styles
------------------ */
.footer-container {
  height: 170px;
  background-color: #0a0826;
  text-align: center;
  padding-top: 20px;
  line-height: 0.8;
}
.footer-container h3 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.footer-container p {
  font-size: 14px;
  color: #d9dbe1;
}

.icon {
  color: white;
  font-size: 12px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(99, 98, 98, 0.575);
}

/* ----------------
      Media Queries
 ------------------ */
/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .header-container {
    width: 100%;
  }
  .header-area,
  .products,
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-title {
    text-align: center;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
  }
}
/* tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .header-container,
  .product-container,
  .feature-container {
    width: 100%;
  }
  .header-area,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-title {
    text-align: center;
    /* margin-left: 150px; */
    margin-bottom: 100px;
    /* margin-left: 120px; */
    margin-right: 250px;
  }
  .feature {
    align-items: center;
    margin-left: 200px;
  }
}
