@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* ------------------
  top header styles
--------------------- */
.top-header {
  margin-left: 70px;
  margin-top: 90px;
  font-size: 20px;
}

/*--------------------
   header area styles 
 --------------------*/
.header-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10em;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.header-element-left h1 {
  font-size: 40px;
  font-weight: bolder;
}
.header-element-left {
  padding-left: 70px;
}
.header-element-right img {
  width: 440px;
  height: 414px;
}
.header-element-right:hover img {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.header-text {
  margin-bottom: 30px;
}
.red-button {
  background-color: #e02c6d;
  color: white;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 41px;
  transition: 0.2s linear;
}
.red-button:hover {
  background-color: white;
  color: #e02c6d;
  border: 2px solid #e02c6d;
  border-radius: 41px;
}

/*-----------------
   product styles
-------------------- */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 60px;
}
.product-title {
  margin-top: 180px;
  text-align: center;
  font-size: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product {
  width: 280px;
  height: 455px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product-info {
  padding-left: 17px;
}
.product-info h2 {
  font-size: 25px;
}
.product img {
  width: 250px;
  height: 200px;
}
.price {
  font-size: 25px;
}
.product-info p {
  color: #8b8989;
  font-size: 14px;
  font-weight: 650;
}

.rating {
  padding: 20px;
  font-size: 12px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.blank {
  color: #aeaeae;
}
.see-more {
  text-decoration: none;
  color: #e02c6d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-right: 180px;
  font-weight: 700;
}

/*----------------
   feature styles
------------------ */
.feature-title {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 30px;
}
.feature-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}

.feature {
  width: 300px;
  height: 300px;
  text-align: center;
}
.red-icon {
  color: #e02c6d;
  font-size: 60px;
}

/* ----------------
    footer styles
------------------ */
.footer-container {
  height: 170px;
  background-color: #0a0826;
  text-align: center;
  margin-top: 100px;
  padding-top: 20px;
  line-height: 0.8;
}
.footer-container h3 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.footer-container p {
  font-size: 14px;
  color: #d9dbe1;
}

.icon {
  color: white;
  font-size: 12px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(99, 98, 98, 0.575);
}

/* ----------------
      Media Queries
 ------------------ */
/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .header-container,
  .product-container,
  .feature-container,
  .footer-container {
    width: 100%;
  }
  .header-area,
  .products,
  .features {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .header-container,
  .product-container,
  .feature-container,
  .footer-container {
    width: 100%;
  }
  .header-area {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
